<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamduke.collegecompanion" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MainTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MoodleActivity"
            android:label="@string/title_activity_moodle"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".WebmailActivity"
            android:label="@string/title_activity_webmail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BuildingActivity"
            android:label="@string/title_activity_building"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".StudentCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_student_card"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".LibraryActivity"
            android:label="@string/title_activity_library"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".BookActivity"
            android:label="Book Title"
            android:screenOrientation="portrait">

        </activity>


    </application>

</manifest>
